.pop{
    width: 690px;
    padding: 40px;
    border-radius: 20px;
    background-color: #152535;
    border: 1px solid $main-color;
    .inp{
        height: 80px;
        border-radius: 10px;
        background-color: #213446;
        padding: 0 30px;
    }
    .popbtn{
        height: 88px;
        border-radius: 20px;
        background-color: $main-color;
        color: #000000;
        text-align: center;
        line-height: 88px;
    }
    .popCancel{
        height: 88px;
        border-radius: 20px;
        border: 1px solid $main-color;
        color: $main-color;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.fullPage{
    width: 100vw;
    min-height: calc(100vh - 100px);
    min-height: calc(100dvh - 100px);
}

.gamecard {
    width: 690px;
    border: 8px solid #A8E887;
    border-radius: 30px;
    background: linear-gradient(180deg, #83D042 0%, #60AA2F 100%);
    box-shadow: 0px 4px 40px #00000066 inset;
    padding: 30px;
    position: relative;

    .top{
        width: 100%;
        height: 78px;
        background: linear-gradient(90deg, #41A100 0%, rgba(65, 161, 0, 0) 100%);
        border-radius: 30px 0 0 0;
        padding: 30px 30px;
        position: absolute;
        left: 0px;
        top: 0px;
    }

    .success {
        color: #FFEE00;
        font-weight: 600;
    }

    .fail {
        color: #FF4623;
        font-weight: 600;
    }
}

.mainBtn{
    background: linear-gradient(#50D6FC, #1989F5);
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
}

.mainCard{
    border: 2px solid #FFFFFF33;
    background: linear-gradient(#0B3F73, #152535);
    padding: 40px 30px;
    border-radius: 20px;
    .cell{
        background-color: #FFFFFF14;
        border: 1px solid #FFFFFF33;
        padding: 24px 30px;
        border-radius: 20px;
    }
}