$main-color: #00E5FF; // 主色
$white: #FFFFFF; // 白
$black: #000000; // 黑
$gray: #999999; // 灰白
$grey: #8396A7; // 灰
$green: #00FF9F; // 绿
$red: #FF3C3E; // 红
$blue: #008FFF; // 蓝
$yellow: #F5C245; // 黄

$card: #101010; // 卡片
$box: #171717; // 盒子